# Python / Backend
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.env
backend/.env
venv/
env/
.venv/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# OS / Editor
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?